.cardGrid {
    margin: 0.1vh 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Ajusta el ancho mínimo de la columna */
    grid-gap: 10px; /* Espacio entre los elementos de la grilla */
    /*background: linear-gradient(to right, #2b506a82, #ff88ba70); */
    /* Otros estilos que necesites */
  }
  
  .cardGrid__item {
    /* Estilos para cada elemento individual en la grilla */

  }
  