.CardProfile {
  /* Estilos para la sección */
  margin-top: 120px;
  height: 100%;
  display: flex;
}

.CardProfile__right {
  /* Estilos para los contenedores */
  flex: 2;
}

.CardProfile__left {
  /* Estilos para los contenedores */
  flex: 1;
 
}


.CardProfile__CardProfile__left__header {
  /* Estilos para el header */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row
}
.CardProfile__CardProfile__left__header__img{
  padding: 1rem 0;
}
.CardProfile__CardProfile__left__header__img__Image {
  /* Estilos para la imagen */
  width: 100px;
  height: 100px;
  border-radius: 50%;
  
}

.CardProfile__CardProfile__left__header__title{
  padding: 1rem 0;
}

.CardProfile__CardProfile__left__header__title h2{
  font-size: 2rem;
}



.CardProfile__CardProfile__left__header__details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CardProfile__CardProfile__left__header__details__item{
  padding: 1rem 0;
  margin-right: 2rem;
  justify-content: center;
  align-items: center;

}


.CardProfile__CardProfile__left__header__details__item p {
  font-size: 1.75rem;
}

.CardProfile__CardProfile__left__header__details__item h4 {
  font-size: 1.25rem;
}

.CardProfile__CardProfile__left__header__details__item:last-child {
  margin-right: 0;
}


















.CardProfile__CardProfile__left__cardsContainer_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas con fracciones iguales */
  grid-gap: 1rem; /* Espacio entre tarjetas */
  padding: 1rem; /* Padding dentro del contenedor del grid */
  border: solid 1px #ff8f8f; /* Borde del contenedor del grid */
  align-items: start; /* Alinea los elementos al inicio de la celda de la cuadrícula */
  justify-items: center; /* Centra los elementos horizontalmente en la celda de la cuadrícula */
}
