/* Estilo para el bloque principal (Block) */
.text {
    font-size: 1.2rem;
    color: #ffffff;
}

.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 4.1vh;
}

