/* Estilo general de la navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.2vw 2vw;
  align-items: center;
}

/* Secciones de la navbar: Elementos del Bloque navbar */
.navbar__section--start{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.navbar__section--center {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__section--end { 
  flex: 1;
  display: flex;
  align-items: center;
}

/* Estilo del texto del logo: Modificador del Elemento navbar__logo */
.navbar__logo-text {
  display: flex;
  font-size: 28px;
  color: #ffffff;
  cursor: pointer;
}

/* Estilos para la navegación: Elemento del Bloque navbar */
.navbar__navigation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


.navbar__navigation a {
  text-decoration: none; /* Elimina el subrayado */
  color: inherit; /* Hereda el color de texto del elemento padre */
  display: flex; /* Opcional: si quieres que los enlaces se comporten como elementos flex */
  align-items: center; /* Opcional: para alinear verticalmente el contenido del enlace */
}

.navbar__logo, .navbar__navigation {
    text-decoration: none;

  width: 50%;
}

/* Ítems de navegación: Modificador del Elemento navbar__navigation */
.navbar__item {
  flex: 1;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  transition: color 0.3s ease;
  text-decoration: none;

}

/* Estilos para el buscador: Elemento del Bloque navbar */
.navbar__finder {
  display: flex;
  align-items: center;
  border: solid 1px #ffffff;
  border-radius: 14px;
  padding: 5px 10px;
}

/* Input de búsqueda: Modificador del Elemento navbar__finder */
.navbar__search-input {
  padding: 5px 10px;
  outline: none;
  background-color: transparent;
  color: #ffffff;
  width: 26vw;
  box-shadow: none;
  border: none;
}

/* Botón de búsqueda: Modificador del Elemento navbar__finder */
.navbar__search-button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
}

/* Estilos para los iconos en la navbar */
.navbar__icon {
  color: #ffffff;
  cursor: pointer;
  margin: 0 0 0 1vh;
  font-size: 1.5rem;
}

.navbar__icon:hover {
  color: #ff2982;
  transition-duration: 0.3s;
}

.navbar__icon_podcast {
  color: #ffffff;
  cursor: pointer;
  font-size: 1.3rem;
  
}
.navbar__icon_podcast:hover {
  color: #ff2982;
  transition-duration: 0.3s;
}



/* Estilos para los íconos: Elementos del Bloque navbar */
.navbar__cart, .navbar__user {
  margin-left: 50px;
  color: #ffffff;
}

.navbar__cart:hover, .navbar__user:hover {
  color: #ff2982;
  transition-duration: 0.3s;
}

.navbar__icons {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;

}

.navbar__buttoms {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 17px;
  height: 60px;
  
}


.navbar__podcast {
  display: flex; /* Usa flexbox para alinear los elementos en línea */
  align-items: center; /* Alinea los elementos verticalmente en el centro */
  padding: 10px 10px; /* Espaciado interno */

}


.bookmarkBtn {
  width: 150px;
  height: 40px;
  border-radius: 14px;
  border: 1px solid #ffffff;
  background-color: rgb(12, 12, 12);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
}

.IconContainer {
  width: 40px;
  height: 30px;
  background: #fe9695; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: 0.3s;
}
.bookmarkBtn:hover {
  transition-duration: 0.3s;
  border: 1px solid #ff2982;
  
}


.icon {
  border-radius: 1px;
}

.text {
  height: 100%;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 1;
  transition-duration: 0.3s;
  font-size: 1.04em;
}

.bookmarkBtn:hover .IconContainer {
  width: 100px;
  transition-duration: 0.3s;
}

.bookmarkBtn:hover .text {
  transform: translate(10px);
  width: 0;
  font-size: 0;
  transition-duration: 0.3s;
}

.bookmarkBtn:active {
  transform: scale(0.95);
  transition-duration: 0.3s;
}








/* Estilos específicos para enlaces dentro de navbar__item y navbar__logo-text */
.navbar__item a, .navbar__logo-text a {
  text-decoration: none; /* Elimina el subrayado */
  color: inherit; /* Hereda el color de texto del elemento padre */
}

/* Media Query para pantallas menores a 1550px */
@media only screen and (max-width: 1550px) {
  .navbar__navigation, .navbar__cart {
    display: none;
  }
  .navbar__logo-text {
    font-size: 24px;
  }
  .navbar__buttoms {
    display: none;
  }
}

/* Media Query para pantallas menores a 1200px */
@media only screen and (max-width: 1200px) {
  .navbar__logo-text {
    font-size: 22px;
  }
}

/* Media Query para pantallas menores a 1024px */
@media only screen and (max-width: 1024px) {
  .navbar__logo-text {
    font-size: 20px;
  }
}

/* Media Query para pantallas menores a 768px */
@media only screen and (max-width: 768px) {
  .navbar__logo-text {
    font-size: 18px;
  }
}

/* Media Query para pantallas menores a 480px */
@media only screen and (max-width: 480px) {
  .navbar__finder {
    display: none;
  }
  .navbar__logo-text {
    font-size: 16px;
  }
}
