/* CardSlider.module.css */

.cardSlider {
  position: relative; /* Esto permite posicionar absolutamente los botones dentro */
  display: flex;
  justify-content: center; /* Centra la pista del deslizador */
  padding-top: 1rem;
  margin-top: 80px;
 
  
}

/* CardSlider.module.css */

.cardSlider__track {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;

  /* Other styles... */
}


.cardSlider__slide {
  flex: 0 0 calc(100% / 4); /* Ajusta según el ancho deseado */
  min-width: 25rem; /* Ajusta según el ancho mínimo deseado */
  min-height: 20rem; /* Ajusta según el alto mínimo deseado */
  margin: 0 1rem 0 0; /* Ajusta según el margen deseado */
  
  

  /* Otros estilos para tus slides */
}

/* Estilos para los botones de navegación */
.cardSlider button {
  position: absolute;
  top: 50%; /* Centra verticalmente */
  transform: translateY(-50%); /* Ajuste fino de la posición vertical */
  background-color: transparent; /* O el color de fondo que prefieras */
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.cardSlider button[aria-label="Previous slide"] {
  left: 0.9rem; /* Ajusta la distancia desde el borde izquierdo */
}

.cardSlider button[aria-label="Next slide"] {
  right: 0.9rem; /* Ajusta la distancia desde el borde derecho */
}


@media (max-width: 599px) {
  .cardSlider__slide {
    flex: 0 0 calc(100% / 1); /* Ajusta según el ancho deseado */
    min-width: 25rem; /* Ajusta según el ancho mínimo deseado */
    min-height: 20rem; /* Ajusta según el alto mínimo deseado */
    
  
    /* Otros estilos para tus slides */
  }
  
  /* Estilos que se aplican cuando la pantalla tiene menos de 600px de ancho */
}


/* Tabletas: desde 601px hasta 900px */
@media (min-width: 601px) and (max-width: 900px) {
  .cardSlider__slide {
    flex: 0 0 calc(100% / 2); /* Ajusta según el ancho deseado */
    min-width: 25vh; /* Ajusta según el ancho mínimo deseado */
    min-height: 20vh; /* Ajusta según el alto mínimo deseado */
    margin: 0 0.5rem; /* Ajusta según el margen deseado */
    
  
    /* Otros estilos para tus slides */
  }

}

/* Escritorio: más de 900px */
@media (min-width: 901px) {

}