.slide {
  min-height: 100%;
  border-radius: 20px;
  background-color: #0d0d0d;

}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 17rem;
  overflow: hidden;
  object-position: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  
  
}

.category {
  position: absolute;
  top: 10px; 
  left: 0.8rem;
  color: #ffffff;
  text-shadow: #020000 3px 1px 10px;
  padding: 5px 15px;
  font-size: 1rem;
  z-index: 5;
  border-radius: 20px;
  backdrop-filter: blur(20px);

}

.slide__content {
  /* Tus estilos existentes */
  padding: 0.8rem 0.8rem;



  
}

.slide__content__div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8rem;
  
}
.slide__content__user_and_name{
  display: flex;
  flex-direction: column;

 
}
.slide__link{
  color: white;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 20px;
  border: solid 1px #FF0295;
  padding: 0.5rem 1.5rem;
  transition: background-color 0.2s ease-in-out, color 0.1s ease-in-out;

}
.slide__link:hover{
  background-color: #FF0295;



}

.title{
  color: #e8c4f2;
  font-size: 1.2rem;
  font-weight: 500;

}

.username{ 
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 500;

}

.category {
  font-size: 1rem;
  color: #ffffff;
}

.description {
  font-size: 1rem;
  color: #c1c1c1;
  margin: 0 0 5px 0;
  font-weight: 100;
  text-wrap: pretty;

}
.slide__content {
  width: 100%;
}

.title .description {
  white-space: normal;
  overflow: break-word;
  
}


@media (min-width: 100px) and (max-width: 399px) {
  
  /* Estilos que se aplican cuando la pantalla tiene menos de 600px de ancho */
  .slide {
    min-height: 100%;
    border-radius: 20px;
    background-color: #0d0d0d;
    width: 80%;
  
  }

}

@media (min-width: 400px) and (max-width: 435px) {
  .slide {
    min-height: 100%;
    border-radius: 20px;
    background-color: #0d0d0d;
    width: 90%;
  
  }

}

@media (min-width: 601px) and (max-width: 900px) {

}

/* Escritorio: más de 900px */
@media (min-width: 901px) {

}