.slide {
  /* Tus estilos existentes */
  background: #24242413; /* Fondo oscuro */
  min-height: 100%;
  border-radius: 14px;
  padding: 0px 1px;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 190px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  overflow: hidden;
}

.category {
  position: absolute;
  top: 10px; /* Ajusta según necesidades */
  left: 1.35rem; /* Ajusta según necesidades */
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  z-index: 5;
  border-radius: 14px;
  background-color: #1a1a1aac;
}


.slide__content {
  /* Tus estilos existentes */
  backdrop-filter: blur(80px);
  padding: 0px 1.7rem;

  
}

.title{
  margin: 10px 0;
  color: #ffffff;
  font-size: 1.4rem;
}

.category {
  font-size: 0.9rem;
  color: #ffffff;
}

.description {
  font-size: 0.9rem;
  color: #919090;
  margin: 0 0 15px 0;
  font-weight: 600
}
/* Tus media queries y otros estilos */
