/* ForgotPassword.module.css */
.page {
    margin: 10rem 0;
    color: #FFF;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title{
    padding-bottom: 3rem;
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #dfdfdf;
    background-color: #222;
    color: #FFF;
  }
  
  .button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #222;
  }
  
  .buttonDisabled {
    background-color: #555;
    cursor: not-allowed;
  }
  
  .message {
    color: rgb(247, 247, 247);
  }
  