.slide {
  min-height: 100%;
  cursor: pointer;
  border-radius: 5px;
  position: relative; /* Añade posición relativa al contenedor .slide */
}


.overlay {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5px;
  display: flex;
  flex-direction: column; /* Ajusta la dirección del flexbox a columna */
  justify-content: flex-end; /* Alinea el contenido al final del overlay */
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s ease; /* Agrega transición a la opacidad y al desplazamiento */
}

.overlay h3 {
  margin: 0 0 0 10px;
  font-size: 1.3rem;
  font-weight: 500;
}

.slide:hover .overlay {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;

}

  
  
  
  .profileInfo {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 10px 10px; /* Margen superior e inferior de 0px, margen derecho e izquierdo de 10px */
    justify-content: center;
    z-index: 5;
    
  }

  .profile {
    display: flex;
    align-items: center;
    opacity: 1; /* Hace que profile sea inicialmente invisible */
    transition: opacity 0.3s ease; /* Transición suave para la opacidad */
    z-index: 15;
    
  }



  .profileImage {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    margin: 10px 10px;
    aspect-ratio: 1.1;
  }
  .userName {
    font-size: 1rem;
    color: #ffffff;
    font-weight: 200;
  }
 

  .imageWrapper__img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
  }

.views{
  display: flex;
  color: #ffffff;
  padding: 5px 5px;
  font-size: 1rem;
  z-index: 5;
  border-radius: 20px;
  margin: 5px;
  align-items: center;
}
.likes{
  display: flex;
  color: #ffffff;
  padding: 5px 5px;
  font-size: 1rem;
  z-index: 5;
  border-radius: 20px;
  margin: 5px;
  align-items: center;
}

.viewsIcon, .likesIcon {
  font-size: 1rem;
  color: #ffffff;
  font-weight: 600;
  margin: 7px;
  justify-content: center;
  align-items: center;
}

.profileInfo {
  display: flex;
  align-items: center;
  margin: 1px 0;
  justify-content: center;
  z-index: 5;
}


  
  .category {
    position: absolute;
    top: 10px; /* Ajusta según necesidades */
    left: 1.35rem; /* Ajusta según necesidades */
    color: #ffffff;
    padding: 5px 10px;
    font-size: 1rem;
    z-index: 5;
    border-radius: 20px;
  }
  
  
  .slide__content {
    /* Tus estilos existentes */
    backdrop-filter: blur(80px);
    padding: 0px 1.7rem;
  
    
  }
  
  .title{
    margin: 10px 0;
    color: #ffffff;
    font-size: 1rem;
  }
  
  .category {
    font-size: 1rem;
    color: #ffffff;
  }
  
  .description {
    font-size:1rem;
    color: #919090;
    margin: 0 0 15px 0;
    font-weight: 600
  }
  /* Tus media queries y otros estilos */
  @media (max-width: 599px) {

    .imageWrapper__img {
      width: 365px;
      height: 365px;
      object-fit: cover;
      object-position: center;
    }


  
    /* Estilos que se aplican cuando la pantalla tiene menos de 600px de ancho */
  }
  
  
  /* Tabletas: desde 601px hasta 900px */
  @media (min-width: 601px) and (max-width: 1200px) {
    
  
  }
  
  /* Escritorio: más de 900px */
  @media (min-width: 901px) {
  
  }