.slide {
    /* Tus estilos existentes  */
    min-height: 100%;
    border-radius: 20px;
    padding: 0px 0px;
  }

  .profileInfo {
    display: flex;
    align-items: center;
    margin: 10px 0;
    justify-content: center;
    z-index: 5;
    
  }

  .profile {
    display: flex;
    align-items: center;
    opacity: 1; /* Hace que profile sea inicialmente invisible */
    transition: opacity 0.3s ease; /* Transición suave para la opacidad */
    z-index: 15;
    
  }



  .profileImage {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    margin: 10px 10px;
    font-size: 1rem;
  }
  .userName {
    font-size: 1rem;
    color: #ffffff;
    font-weight: 200;
  }
  
  .imageWrapper {
    position: relative;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    object-position: center;
  }
  

.views{
  display: flex;
  color: #ffffff;
  padding: 5px 5px;
  font-size: 1rem;
  z-index: 5;
  border-radius: 20px;
  margin: 5px;
  align-items: center;
}
.likes{
  display: flex;
  color: #ffffff;
  padding: 5px 5px;
  font-size: 1rem;
  z-index: 5;
  border-radius: 20px;
  margin: 5px;
  align-items: center;
}

.viewsIcon, .likesIcon {
  font-size: 1rem;
  color: #ffffff;
  font-weight: 600;
  margin: 7px;
  justify-content: center;
  align-items: center;
}

.profileInfo {
  display: flex;
  align-items: center;
  margin: 1px 0;
  justify-content: center;
  z-index: 5;
}


  
  .category {
    position: absolute;
    top: 10px; /* Ajusta según necesidades */
    left: 1.35rem; /* Ajusta según necesidades */
    color: #ffffff;
    padding: 5px 10px;
    font-size: 1rem;
    z-index: 5;
    border-radius: 20px;
  }
  
  
  .slide__content {
    /* Tus estilos existentes */
    backdrop-filter: blur(80px);
    padding: 0px 1.7rem;
  
    
  }
  
  .title{
    margin: 10px 0;
    color: #ffffff;
    font-size: 1rem;
  }
  
  .category {
    font-size: 1rem;
    color: #ffffff;
  }
  
  .description {
    font-size:1rem;
    color: #919090;
    margin: 0 0 15px 0;
    font-weight: 600
  }
  /* Tus media queries y otros estilos */
  @media (max-width: 599px) {
  
    /* Estilos que se aplican cuando la pantalla tiene menos de 600px de ancho */
  }
  
  
  /* Tabletas: desde 601px hasta 900px */
  @media (min-width: 601px) and (max-width: 900px) {
  
  }
  
  /* Escritorio: más de 900px */
  @media (min-width: 901px) {
  
  }