


.Dot{
  color: #26E1FF
}

.LastNews__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  cursor: pointer;
  padding:  0 0 4rem 0;

}



.LastNews__container__title {
  display: flex;
  padding: 2rem 0;
}

.LastNews__title{
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  margin-bottom: 2rem;
 
}


@media (max-width: 599px) {
  .LastNews__title{
    font-size: 1.75rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
    margin-bottom: 5rem;
  }

  .LastNews__container {
    grid-template-columns: repeat(1, 1fr);
  }
  /* Estilos que se aplican cuando la pantalla tiene menos de 600px de ancho */
}


/* Tabletas: desde 601px hasta 900px */
@media (min-width: 601px) and (max-width: 1368px) {

}

/* Escritorio: más de 900px */
@media (min-width: 1369px) {

}