.container {
  display: flex;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 120px;


}	


.container__title {
  text-align: center;
}

.title {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 3rem;
  text-align: center;
  color: #ffffff;



}

.toptitle {
  font-size: 1.75rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #ffffff;
  margin-top: 15px;
}

.container__text {
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: start;
  color: #ffffff;
}

.container__text text {
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #ffffff;
}

.heading {
    font-size: 1.5rem;
    margin-top: 15px;
    font-weight: 400;
    margin: 0 0 1.1rem 0;
}
  
  .text {
    font-size: 1.3rem;
    line-height: 1.2;
    color: #faebff;
    font-weight: 50;
    margin: 0 0 1.5rem 0;

  }
  

  @media (max-width: 599px) {
    .container {
      flex-direction: column;
    }

    .container__img {
      max-width: 100%;
    }

    .container__text {
      max-width: 100%;
    }

    .container__text__title {
      font-size: 1.75rem;
    }

    .title {
      font-size: 2rem;
     
    
    
    }
  
    /* Estilos que se aplican cuando la pantalla tiene menos de 600px de ancho */
  }
  
  
  /* Tabletas: desde 601px hasta 900px */
