.container {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  margin-top: 80px;

  
  }	
  
  
  .container__title {
    text-align: center;
  }
  
  .title {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #ffffff;
  
  
  }
  
  .container__text {
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: start;
    color: #ffffff;
  }
  
  .container__text text {
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #ffffff;
  }
  
  .heading {
      font-size: 1.5rem;
      margin-top: 15px;
      font-weight: 400;
      margin: 0 0 1.1rem 0;
  }
    
    .text {
      font-size: 16px;
      line-height: 1.2;
      color: #cecece;
      font-weight: 100;
      margin: 0 0 1.5rem 0;
  
    }
    .container__text h4 {
      font-size: 1.5rem;
      font-weight: 400;
      margin-bottom: 1.5rem;
      text-align: start;
      color: #ffffff;
    }