/* Estilos para el contenedor de etiquetas */

.tagsContainer {
    overflow-x: auto; /* Permite el desplazamiento horizontal */
    white-space: nowrap; /* Evita el salto de línea entre elementos */
    padding: 10px;
    margin: 1vh 0;
}

/* Estilos para el contenedor de etiquetas */
.tags {
    display: flex;
    overflow-x: auto; /* Permite el desplazamiento horizontal */
    -webkit-overflow-scrolling: touch; /* Para desplazamiento táctil suave en iOS */
    margin: 1vh 2vh;
    gap: 10px; /* Añade espacio entre las etiquetas */
   
    
}

/* Estilos para cada etiqueta */
.tag {
    flex: 0 0 auto; /* Evita que las etiquetas se estiren o encojan */
    margin: 5px;
    padding: 6px 15px;
    border-radius: 8px;
    /* Resto de tus estilos... */
}

/* Eliminar flex-wrap para que las etiquetas no se envuelvan en una nueva línea */
.tags {
    flex-wrap: nowrap;
}

/* Asegurarse de que el contenedor de etiquetas se ajuste al tamaño de la pantalla */
@media screen and (max-width: 768px) {
    .tags {
        justify-content: flex-start; /* Alinea las etiquetas al principio */
    }
}

/* Ajustes adicionales para pantallas más pequeñas si es necesario */
@media screen and (max-width: 480px) {
    .tag {
        font-size: 0.9rem;
        padding: 15px 12px; /* Ajusta el padding para que sea más adecuado para el tamaño */
    }
}

/* Otras media queries si son necesarias... */
