
/* Estilos para el contenedor de etiquetas */
.tags {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vh 0;

    
}

/* Estilos para cada etiqueta */
.tag {
    flex: 1; 
    padding: 3px 40px; /* Ajusta el valor del segundo parámetro según sea necesario */
    box-sizing: border-box;
    border-radius: 14px;
    /* Resto de tus estilos... */
    font-size: 0.8rem;
    font-weight: 400;
    background-color:  transparent;
    border: solid 1px #FF0295;
    color: #e6e6e6;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vh 0.7vh;
    max-width: 25vh;
    max-height: 50px;
 

}

.tag:hover {

    border: solid 1px #ff88baa0;

 

}

.tagIcon {
    padding: 2px 0;
    font-size: 1.1rem;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin-right: 0.5vh;
}

.tagText {
    padding: 2px 0;
    align-items: center;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;

}

/* Estilos para hover */
.tag:hover {
    cursor: pointer;
    background-color: #1b1b1bac;
    color: white;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
}



/* Asegurarse de que el contenedor de etiquetas se ajuste al tamaño de la pantalla */
@media screen and (max-width: 768px) {
    .tags {
        justify-content: flex-start; /* Alinea las etiquetas al principio */
    }
}

/* Ajustes adicionales para pantallas más pequeñas si es necesario */
@media screen and (max-width: 480px) {
    .tag {
        font-size: 0.9rem;
        padding: 15px 12px; /* Ajusta el padding para que sea más adecuado para el tamaño */
    }
}

/* Otras media queries si son necesarias... */
