/* Estilos para el contenedor de etiquetas */

.tagsContainer {
    padding: 10px;
    margin: 1.8vh 0;
    align-items: center;
    justify-content: center;
   
  
}

/* Estilos para el contenedor de etiquetas */
.tags {
    display: flex;
    margin: 1vh 1vh;
    justify-content: center;
    align-items: center;

    
}

/* Estilos para cada etiqueta */
.tag {
    flex: 1; 
    padding: 3px 40px; /* Ajusta el valor del segundo parámetro según sea necesario */
    box-sizing: border-box;
    border-radius: 14px;
    /* Resto de tus estilos... */
    max-width: 21vh;
    font-size: 1rem;
    font-weight: 400;
    background-color:  transparent;
    border: solid 1px #ff88b9;
    color: #e6e6e6;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.7vh;


 

}

.tagIcon {
    padding: 8px;
    font-size: 1.1rem;
    align-items: center;
    justify-content: center;
    align-items: center;
}

/* Estilos para hover */
.tag:hover {
    cursor: pointer;
    background-color: #1b1b1bac;
    color: white;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
}



/* Asegurarse de que el contenedor de etiquetas se ajuste al tamaño de la pantalla */
@media screen and (max-width: 768px) {
    .tags {
        justify-content: flex-start; /* Alinea las etiquetas al principio */
    }
}

/* Ajustes adicionales para pantallas más pequeñas si es necesario */
@media screen and (max-width: 480px) {
    .tag {
        font-size: 0.9rem;
        padding: 15px 12px; /* Ajusta el padding para que sea más adecuado para el tamaño */
    }
}

/* Otras media queries si son necesarias... */
